/*
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
  margin: 0;
}

.en {
  display: none;
}

nav {
  height: fit-content;
  background-color: rgb(234, 146, 59);
  text-align: center;
  width: 100%;
}

nav ul {
  display: inline-block;
  height: fit-content;
  width: 97%;
}

nav li {
  display: inline-block;
  list-style: none;
}

a {
  color: aliceblue;
  text-decoration: none;
  padding: 12px 24px;
  margin: 12px;
  font-size: 18px;
}

#lang {
  cursor: pointer;
  float: right;
}

.header-title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 24px;
  background: #ed591a;
  background: linear-gradient(
    340deg,
    rgba(237, 89, 26, 1) 30%,
    rgba(237, 160, 83, 1) 100%
  );
  color: white;
}

.header-title-block-1 {
  width: 40%;
}

.header-title-block-1 h1 {
  font-size: 62px;
}

.header-title-block-1 h3 {
  font-weight: 400;
  font-size: 20px;
}

.header-title-block-1 a {
  margin: 0;
  padding: 0;
}

.header-title-block-1 button {
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 20px;
  border: 3px solid #f57818;
  background-color: #f57818;
  box-shadow: #c86011 2px 2px 1px 1px;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.header-title-block-1 button:active {
  background-color: #c86011;
  border: 3px solid #c86011;
}

.header-title-block-2 {
  width: 40%;
}

.personality {
  padding: 24px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 0;
}

.personality li,
.contact-me li {
  text-align: left;
  font-size: 18px;
}

.personality-title {
  width: 50%;
  margin: 24px;
}

.personality-title p {
  font-size: 18px;
}

.personality-box {
  display: flex;
  justify-content: space-around;
  width: 80%;
  color: white;
}

.personality-box-1 {
  background-color: #c86011;
  width: 40%;
  padding: 12px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.personality-box-2 {
  background-color: #ed591a;
  width: 40%;
  padding: 12px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.contact-me {
  display: flex;
  justify-content: center;
}

.contact-me-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 24px;
  width: 40%;
  background-color: #ed591a;
  color: white;
  margin: 24px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 12px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 24px;
  max-width: 1215px;
  width: 100%;
  margin: 0 auto;
}

.projects-grid-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

.projects-grid-img img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 10px;
}

.projects-grid-img h4 {
  text-align: center;
  color: #ed591a;
}

.projects-grid-img p {
  font-size: 14px;
  margin: 12px;
  font-style: italic;
}

header {
  background-color: rgb(234, 146, 59);
  margin: 0;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}

header a {
  display: inline-block;
  height: fit-content;
  margin: 0;
}

@media (max-width: 814px) {
  .container {
    width: 100%;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav li {
    display: block;
  }

  nav a {
    display: block;
  }

  #lang {
    float: none;
  }
}
